<!DOCTYPE html>
<html>
<head>
  <title>BoaVistaStubs</title>
  <%= stylesheet_link_tag    "boa_vista_stubs/application", media: "all" %>
  <%= javascript_include_tag "boa_vista_stubs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
